<template>
  <div class="elm_test">
    <div v-cloak id="main">
      <div id="myinput">
        <input id="input" v-model="searchString" type="text" name placeholder="输入位置" autocomplete="off">
      </div>
      <div v-show="ok" id="float">
        <ul id="tip_ul">
          <li v-for="article in filteredArticles">
            <p id="tips" @click="chooseSearch($event)">
              {{ article.name }}
              <b style="color: red;font-size: 0px">---{{ article.location }}</b>
            </p>
          </li>
        </ul>
      </div>

      <div id="bo">
        <br>
        <div id="cho">
          <input
            id="boy"
            type="radio"
            name="gender"
            checked="checked"
            @click="choose('shoplist')"
          >
          <label>商户</label>
          <input id="boy" type="radio" name="gender" @click="choose('dishlist')">
          <label>菜品</label>
          <!--                 <input type="radio" id="boy" name="gender" v-on:click="choose('dig')"/>
          <label>dig</label>-->
          <br>
          <label>饿了么城市ID：</label>
          <input v-model="ele_city_id" class="inp" type name placeholder="ele_city_id">
          <label>mingningID：</label>
          <input ref="rrr" v-model="mining_id" class="inp" type name placeholder="mining_id">
          <button id="submit" @click="send()">查询</button>
          <br>
        </div>

        <br>
        <div id="title">
          <label id="res_title">结果详情：</label>
        </div>
        <div id="res">
          <!--     <p>e_lng：{{ e_lng }}</p>
                <p>e_lat：{{ e_lat }}</p>
                <p>checked：{{ checked }}</p>
                <p>ele_city_id：{{ ele_city_id }}</p>
                <p>mining_id：{{ mining_id }}</p>
          <p>info：{{ info }}</p>-->
          <p v-for="(val,key) in info">
            <span class="mintitle">{{ key }}:</span>
            {{ val }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ElmTest',
  data() {
    return {
      checked: 'shoplist',
      ele_city_id: '',
      mining_id: '',
      e_lat: '',
      e_lng: '',
      info: {
        stepX: ''
      },
      // base_url: "http://94.191.70.72:3391/",
      // base_url: "http://0.0.0.0:3391/",
      base_url: 'mntncar/',
      searchString: '',
      articles: [],
      location: '',
      splite: '',
      content: '',
      ok: true
    }
  },
  computed: {
    // 计算数学，匹配搜索
    filteredArticles: function() {
      this.ok = true
      var articles_array = this.articles
      var searchString = this.searchString

      if (!searchString) {
        return articles_array
      }

      // searchString = searchString.trim().toLowerCase();

      // articles_array = articles_array.filter(function(item) {
      //   if (item.name.toLowerCase().indexOf(searchString) !== -1) {
      //     return item;
      //   }
      // });

      // 返回过来后的数组 只有一个不显示哦（为了配合点击tips列表之后隐藏所有tips）
      if (articles_array.length > 1) {
        return articles_array
      }
    }
  },
  watch: {
    searchString: function(s) {
      // console.log(s),
      this.search()
      // 清空输入框的同事清空坐标
      if (this.searchString.length < 1) {
        (this.e_lng = ''), (this.e_lat = '')
      }
    }
  },
  methods: {
    choose: function(s) {
      this.checked = s
    },
    send: function() {
      // console.log("send")
      if (this.e_lng.length < 1) {
        alert('请输入位置')
        // console.log(this.e_lng.length)
      } else {
        // 先请求dig接口
        this.axios
          .get(this.base_url + 'dig', {
            params: {
              mining_id: this.mining_id
            }
          })
          .then(response => {
            console.log(response.data.code)
            if (response.data.code == -1) {
              alert('没有挖掘到数据'),
              (this.info = {
                error: '没有挖掘到数据'
              })
            } else {
              this.axios
                .get(this.base_url + this.checked, {
                  params: {
                    e_lat: this.e_lat,
                    e_lng: this.e_lng,
                    ele_city_id: this.ele_city_id,
                    mining_id: this.mining_id
                  }
                })

                // .then(response => (this.info = response.data,console.log(response.data),alert(response.data.step1)))
                // 这个里面的this无效,箭头函数里面可以使用this.
                .then(response => {
                  console.log(this.info)
                  this.info = response.data
                  this.step1 = response.data.step1
                  this.step2 = response.data.step2
                  this.step3 = response.data.step3
                  this.step4 = response.data.step4
                })

                .catch(function(error) {
                  console.log(error)
                  alert(error)
                })
              // console.log(this.$refs.rrr.value)
            }
          })

          .catch(function(error) {
            console.log(error)
            alert(error)
          })
      }
    },
    search: function() {
      this.axios
        .get(this.base_url + 'gaode', {
          params: {
            keywords: this.searchString
          }
        })

        .then(response => {
          // console.log(response.data.tips),
          this.articles = response.data.tips
        })

        .catch(function(error) {
          console.log(error)
          alert(error)
        })
      // console.log(this.$refs.rrr.value)
    },

    // 点击选择tips列表中的一个
    chooseSearch: function(e) {
      this.content = e.target.innerText,
      // console.log(content),
      this.splite = this.content.split('---'),
      // console.log(this.splite),
      this.searchString = this.splite[0],

      this.splite = this.splite.pop().split(','),
      this.e_lng = this.splite[0],
      this.e_lat = this.splite.pop(),
      console.log(this.e_lng),
      console.log(this.e_lat)
      this.ok = false
    }
  }
}
</script>

<style scoped>
body{
    margin: 0;
    padding: 0;
}
#main{
    /*margin: 0;*/
    padding: 0;
    /*margin: 0 auto;*/
    /*text-align: center;*/
    margin-top: 60px;
}

#myinput{
    text-align: center;
    margin:0 auto;
    margin-bottom: 10px;
}

#input{
    width: 90%;
    height: 42px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    border: 0px solid #427BB1;
    outline:none;
    box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
    padding-left: 2%;
}

#tip_ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#tip_ul li{
    margin: 0;
    padding: 0;
    height: 38px;
}

#tip_ul li p{
    margin: 0;
    padding: 0;
    height: 38px;
    line-height: 38px;
    margin-left: 20px;

}

#float{
    width: 90%;
    position:absolute;
    background: #f8f8f8;
    margin-left: 5%;
    /*margin-left: +10px;*/
    /*border: 10px solid #427BB1;*/
    box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
}

#bo{
    margin-left: 5%;
    width: 90%
}

#tips{
    margin: 0;
    padding: 0;
}

#tip_ul li:hover{
    background-color: #eee;
}

#cho{
    background-color: #eee;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px

}
#cho input{
    margin: 10px 0;
}

.inp{
    width: 10%;
    height: 28px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: white;
    padding-left: 5px;
    /*outline:none; */
    margin-right: 20px;
    /* margin-left: px; */

}

#submit{
    height: 28px;
    width: 10%;
    font-size: 18px;
    background-color: white;
    color: #427BB1;
    outline: none;
    margin-top: 10px;
    margin-right: 10%;
    border: 1px solid transparent;
    outline: none;
}

#submit:hover{
    opacity: 0.8;
}

#submit:active{
    opacity: 1.1;
}

#res{
    border: 1px solid #427BB1;
    padding-left: 10px;
    margin-bottom: 50px;
    border-radius: 0px 0px 5px 5px;
    transition: all 1s linear;
}

#title{
    margin-top: 20px;
    background-color: #427BB1;
    padding-left: 10px;
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    border-radius:  5px 5px 0px 0px;
}

.mintitle{
    color: #999;
    margin-right: 20px;
}

</style>
