<template>
  <div style="display:inline-block;">
    <label class="radio-label">跳过信审: </label>
    <br />
    <el-select v-model="bookType" style="width:120px;">
      <el-option v-for="item in options" :key="item.value" :label="item.value" :value="item.key" />
    </el-select>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: String,
      default: '通过'
    }
  },
  data() {
    return {
      options: [{ 'key': '1', 'value': '通过' }, { 'key': '0', 'value': '拒绝' }]
    }
  },
  computed: {
    bookType: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
}

</script>
