<template>
  <div class="udong">
    <div class="bots">
      <el-button type="primary" plain @click="creat_user()">创建账号</el-button>
      <p />
      <el-radio-group v-model="radio" size="small">
        <el-radio-button v-for="(val,key) in data" :label="key" />
      </el-radio-group>
      <p />
      <el-form label-width="100px">
        <el-row>
          <el-col :span="8">
            <el-form-item label="*账号：">
              <el-input v-model="username" placeholder="账号（必填）" :rows="1" />
            </el-form-item>

            <el-form-item label="名称：">
              <el-input v-model="orgname" placeholder="名称（选填）" :rows="1" />
            </el-form-item>

            <!--             <el-form-item label="名称：">
              <el-input v-model="operatorname" placeholder="名称（选填）" :rows="1" />
            </el-form-item> -->

            <el-form-item label="电话：">
              <el-input v-model="phone" placeholder="电话（选填）" :rows="1" />
            </el-form-item>

            <el-form-item label="密码：">
              <el-input v-model="password" placeholder="密码（选填）" :rows="1" />
            </el-form-item>

            <el-form-item label="用户类型">
              <el-select v-model="menuSelect" filterable placeholder="请选择" @change="selectOne(menuSelect)">
                <el-option v-for="item in menuSelectData" :key="item.value" :label="item.name" :value="item" :disabled="item.disabled" />
              </el-select>
            </el-form-item>

          </el-col>
        </el-row>
      </el-form>
      <div id="title">
        结果详情：
      </div>
      <json-viewer v-loading="loading" copyable sort boxed :expand-depth="5" :value="msg" theme="jv-light" />
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      value: [],
      treeData: [],
      loading: false,
      msg: {},
      orgname: '',
      username: '',
      operatorname: '测试供应商',
      phone: '',
      password: 'test123456',
      radio: 'test',
      menuSelect: '',
      menuSelectData:
        [{
          value: '0202',
          name: '0202'
        }, {
          value: '0201',
          name: '0201'
        }, {
          value: '01',
          name: '01'
        }, {
          value: '0301',
          name: '0301',
          disabled: true
        }, {
          value: '0601',
          name: '0601',
          disabled: true
        }, {
          value: '12',
          name: '12',
          disabled: true
        }],
      data: { 'tag1': {}, 'tag2': {}}
    }
  },
  
  methods: {

    // 切换用户类型
    selectOne(user) { // change 触发事件
    // 直接就拿到当前的这个对象了
      console.log(user.value)
      this.usertype = user.value
    },

    // 查询用户信息
    user_info: function() {
      var url = '/mntncar/user/zcyinfo?username=' + this.phone + '&password=test123456&env=' + this.radio
      this.get(url)
    },

    // 创建供应商
    creat_user: function() {
      if (this.username == '') {
        alert('账号不能为空')
      }
      var url = '/jarvis/creatUser?environment=' +
        this.radio +
        '&orgname=' + this.orgname +
        '&username=' + this.username +
        '&mobile=' + this.phone +
        '&password=' + this.password +
        '&districtCode=' + this.districtcode +
        '&userType=' + this.usertype
      this.jsonPost(url)
    },

    // 封装post
    jsonPost: function(url, json) {
      this.loading = true
      this.msg = {}
      this.axios
        .post(url, json)
        .then(response => {
          console.log(response)
          this.msg = response.data
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          alert(error)
        })
    },
    // 封装get
    get: function(url) {
      this.loading = true
      this.msg = {}
      this.axios
        .get(url)
        .then(response => {
          console.log(response)
          this.msg = response.data
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          alert(error)
        })
    }
  }
}

</script>
<style scoped>
.article-textarea {}

.el-cascader {
  width: 100%
}

.udong {}

.content {
  margin: 3%;
  padding-bottom: 10px;
}

.content label {
  font-size: 13px;
  width: 20%;
  padding-left: 7px;
}

.content input {
  width: 20%;
  height: 38px;
  font-size: 14px;
  padding: 0;
  padding-left: 5px;
  outline: none;
  border: 1px solid #999;
}

.content input:hover {
  box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
  transition: all 0.2s linear;

}

.content label {
  display: block
}

#la {
  display: inline;
  color: #999;
  line-height: 38px;
  font-size: 16px;
}

#la pre {
  color: #0B7500;
}

#console {
  border: 1px solid #427BB1;
  padding-left: 10px;
  border-radius: 0px 0px 5px 5px;
  min-height: 30px;
  padding: 10px;
  /*    word-break: break-all;
    white-space: normal;*/
}

#title {
  margin-top: 20px;
  background-color: #427BB1;
  padding-left: 10px;
  color: white;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
}

#select {
  height: 38px;

}

#select option {}

.bots {
  margin: 3%;
  padding-bottom: 10px;
}

/*.bots button{
    height:38px;
    background:#eee;
    color:#427BB1;
    outline:none;
    border:1px solid #999;
    font-size:15px;
    letter-spacing:0px;
    margin-top: 5px;
}*/
/*.bots button:hover{
    box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
    transition: all 0.2s linear;
}*/

#console pre {
  padding-left: 10px;
  color: #0B7500;
  overflow: hidden;

  /*word-break: break-all;*/
  /*white-space: normal;*/

}

.el-button+.el-button {
  margin-left: 0px;

}

</style>
