<template>
  <div class="app-container">
    <el-radio-group v-model="radioenv" size="small">
      <el-radio-button v-for="(val,key) in tag" :label="key" />
    </el-radio-group>
    <!-- <p></p> -->
    <el-radio-group v-model="radiomodel" size="small">
      <el-radio-button v-for="i in datamodel" :label="i" />
    </el-radio-group>
    <el-radio-group v-model="radiorole" size="small">
      <el-radio-button v-for="i in datarole" :label="i" />
    </el-radio-group>
    <p></p>
    <el-table :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="ID" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column width="80px" align="center" label="Env">
        <template slot-scope="scope">
          <span>{{ scope.row.env }}</span>
        </template>
      </el-table-column>
      <el-table-column width="180px" align="center" label="Model">
        <template slot-scope="scope">
          <span>{{ scope.row.model }}</span>
        </template>
      </el-table-column>
      <el-table-column width="180px" align="center" label="Role">
        <template slot-scope="scope">
          <span>{{ scope.row.roles }}</span>
        </template>
      </el-table-column>
      <el-table-column width="240px" align="center" label="Username">
        <template slot-scope="scope">
          <span>{{ scope.row.username }}</span>
        </template>
      </el-table-column>
      <el-table-column width="240px" align="center" label="Password">
        <template slot-scope="scope">
          <span>{{ scope.row.password }}</span>
        </template>
      </el-table-column>
      <!--       <el-table-column width="100px" label="Importance">
        <template slot-scope="scope">
          <svg-icon v-for="n in +scope.row.importance" :key="n" icon-class="star" class="meta-item__icon" />
        </template>
      </el-table-column> -->
      <!--       <el-table-column class-name="status-col" label="Status" width="110">
        <template slot-scope="{row}">
          <el-tag :type="row.status | statusFilter">
            {{ row.status }}
          </el-tag>
        </template>
      </el-table-column> -->
      <!--       <el-table-column min-width="300px" label="Title">
        <template slot-scope="{row}">
          <router-link :to="'/example/edit/'+row.id" class="link-type">
            <span>{{ row.title }}</span>
          </router-link>
        </template>
      </el-table-column> -->
      <el-table-column align="center" label="Actions" min-width="180">
        <template slot-scope="scope">
          <router-link :to="'/example/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              Edit
            </el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="get_test_accounts" />
  </div>
</template>
<script>
// import { fetchList } from '@/api/article'
import Pagination from '@/components/Pagination' // Secondary package based on el-pagination

export default {
  name: 'ArticleList',
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      list: [],
      radioenv: 'tag1',
      tag: { 'tag1': {}, 'tag2': {} },
      radiomodel: 'tag5',
      datamodel: ['tag3', 'tag4', 'tag5', 'tag6'],
      radiorole: 'tag12',
      datarole: ['tag7', 'tag8', 'tag9', 'tag10', 'tag11', 'tag12'],
      total: 0,
      // listLoading: true,
      listQuery: {
        page: 1,
        limit: 10
      }
    }
  },
  created() {
    // this.getList()
    this.get_test_accounts()
  },
  methods: {
    // getList() {
    //   // this.listLoading = true
    //   fetchList(this.listQuery).then(response => {
    //     this.list = response.data.items
    //     this.total = response.data.total
    //     // this.listLoading = false
    //   })
    // },
    get_test_accounts: function() {

      ///// 该服务目前没有，报500，需要重新定义接口
      var url = 'mntncar/user/test/accounts'
      this.jsonPost(url, this.listQuery)
    },
    get: function(url) {
      this.loading = true
      this.msg = '...'
      this.axios
        .get(url)
        .then(response => {
          console.log(response)
          this.list = response.data.data
          this.loading = false
        })
        .catch(error => {
          alert(error)
          this.loading = false
        })
    },
    jsonPost: function(url, json) {
      this.loading = true
      this.msg = '...'
      this.axios
        .post(url, json)
        .then(response => {
          console.log(response)
          this.list = response.data.data
          this.total = response.data.total
          this.loading = false
        })
        .catch(error => {
          alert(error)
          this.loading = false
        })
    },
  }
}

</script>
<style scoped>
.edit-input {
  padding-right: 100px;
}

.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}

</style>
