<template>
  <div class="udong">
    <div class="bots">
      <el-button type="primary" plain @click="button1()">按扭1</el-button>
      <p />
      <el-radio-group v-model="radio" size="small">
        <el-radio-button v-for="(val,key) in data" :label="key" />
      </el-radio-group>
      <p />
      <!-- 激活时时候显示建议 -->
      <el-autocomplete class="inline-input" v-model="input" :fetch-suggestions="querySearch" placeholder="请输入内容" @select="handleSelect"></el-autocomplete>
      <!-- 输入时候显示建议 -->
      <!--     <el-autocomplete
      class="inline-input"
      v-model="phone"
      :fetch-suggestions="querySearch"
      placeholder="请输入内容"
      :trigger-on-focus="false"
      @select="handleSelect"
    ></el-autocomplete> -->
      <div id="title">
        结果详情：
      </div>
      <json-viewer id='yuzhou_console' v-loading="loading" copyable sort :expand-depth="5" :value="msg" theme="jv-light" />
      <p style="color: gray;font-size: 8px"> 输入规则： </p>
      <p style="color: gray;font-size: 8px">1.username/后面拼接密码,比如：yuzhou112505/yuzhoumima001 </p>
      <p style="color: gray;font-size: 8px">2.只输入username表示默认密码是test123456，比如：admin 等于 admin/test123456</p>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      loading: false,
      msg: {},
      input: 'admin',
      radio: 'tag1',
      data: { 'tag1': {}, 'tag2': {} },
    }
  },
  mounted() {},
  methods: {
    // 把常用数据存到local
    stora() {
      var templist = JSON.parse(localStorage.getItem("msgBody") || "[]");
      if (templist.length > 5) {
        templist.shift()
      };
      templist.push({ 'value': this.input});
      templist.reverse()
      localStorage.setItem("msgBody", JSON.stringify(templist));
      // this.restaurants = JSON.parse(localStorage.getItem("msgBody"));
    },
    querySearch(queryString, cb) {
      // 调用 callback 返回建议列表的数据
      //在这里为这个数组中每一个对象加一个value字段, 因为autocomplete只识别value字段并在下拉列中显示
      cb(JSON.parse(localStorage.getItem("msgBody")));
    },
    // 选择后操作
    handleSelect(item) {
      console.log(item.value);
    },
    // 查询用户信息
    button1: function() {
      var url = '/mntncar/user/zcyinfo?username=' + this.phone + '&env=' + this.radio
      this.get(url)
      this.stora()
    },
    // 封装post
    jsonPost: function(url, json) {
      this.loading = true
      this.msg = {}
      this.axios
        .post(url, json)
        .then(response => {
          console.log(response)
          this.msg = response.data
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          alert(error)
        })
    },
    // 封装post
    get: function(url) {
      this.loading = true
      this.msg = {}
      this.axios
        .get(url)
        .then(response => {
          console.log(response)
          this.msg = response.data
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          alert(error)
        })
    }
  }
}

</script>
<style scoped>
.el-autocomplete {
  width: 20%;
}

#yuzhou_console {
  border: 1px solid #DCDFE6;
}

.article-textarea {}

.udong {
  /*background:#f7f7f7;*/
}

.content {
  margin: 3%;
  padding-bottom: 10px;
}

.content label {
  font-size: 13px;
  width: 20%;
  padding-left: 7px;
}

.content input {
  width: 20%;
  height: 38px;
  font-size: 14px;
  padding: 0;
  padding-left: 5px;
  outline: none;
  border: 1px solid #999;
}

.content input:hover {
  box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
  transition: all 0.2s linear;

}

.content label {
  display: block
}

#la {
  display: inline;
  color: #999;
  line-height: 38px;
  font-size: 16px;
}

#la pre {
  color: #0B7500;
}

#console {
  border: 1px solid #427BB1;
  padding-left: 10px;
  border-radius: 0px 0px 5px 5px;
  min-height: 30px;
  padding: 10px;
  /*    word-break: break-all;
    white-space: normal;*/
}

#title {
  margin-top: 20px;
  background-color: #427BB1;
  padding-left: 10px;
  color: white;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
}

#select {
  height: 38px;

}

#select option {}

.bots {
  margin: 3%;
  padding-bottom: 10px;
}

/*.bots button{
    height:38px;
    background:#eee;
    color:#427BB1;
    outline:none;
    border:1px solid #999;
    font-size:15px;
    letter-spacing:0px;
    margin-top: 5px;
}*/
/*.bots button:hover{
    box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
    transition: all 0.2s linear;
}*/

#console pre {
  padding-left: 10px;
  color: #0B7500;
  overflow: hidden;

  /*word-break: break-all;*/
  /*white-space: normal;*/

}

.el-button+.el-button {
  margin-left: 0px;

}

</style>
