<template>
  <div class="udong">
    <div class="bots">
      <el-button type="primary" plain @click="register()">快速注册</el-button>
      <el-button type="primary" plain @click="find_user_id()">查询用户ID</el-button>
      <el-button type="primary" plain @click="pageflow_user()">查询ABC</el-button>
      <el-button type="primary" plain @click="find_order()">查询用户ORDERS</el-button>
      <el-button type="primary" plain @click="lend()">发起借款</el-button>
      <el-button type="primary" plain @click="closeUser()">删除用户</el-button>
      <el-button type="primary" plain @click="clearLoan()">删除用户所有订单</el-button>
      <el-button type="primary" plain @click="get_sms_code()">查询最新一条短信验证码</el-button>
      <el-button type="primary" plain><a href="https://www.udongcash.com/downloads/udong.apk">地推app下载</a></el-button>
      <el-button type="primary" plain @click="enque_four()">同步催收</el-button>
      <el-button type="primary" plain @click="auto_assign()">自动分配</el-button>
      <el-button type="primary" plain @click="overdue_loan()">跑批</el-button>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <el-input v-model="phone" type="textarea" :rows="5"></el-input>
    </div>
    <div class="content">
      <ChooseManual v-model="selectedOption.key" />
      <el-input v-model="loanId" placeholder="输入loanId" style="width:20%" label="ss"></el-input>
      <el-button type="primary" plain @click="skipManual()">确定</el-button>
      <el-button type="primary" plain @click="getAuditDetail()">信审用户信息</el-button>
      <el-button type="primary" plain @click="open()">发起视频审核</el-button>
    </div>
    <div class="content">
      <ChooseFlow v-model="selectedAbc" />
      <!-- <select id="select" v-model="selectedAbc"> -->
      <!-- <option v-for="option in optionsAbc" v-bind:value="option">{{option}}</option> -->
      <!-- </select> -->
      <el-input v-model="phone" placeholder="输入手机号" style="width:20%"></el-input>
      <el-button type="primary" plain @click="change_pageflow()">确定</el-button>
    </div>
    <div class="content">
      <label>修改身份信息（触发税务/社保爬虫）:</label>
      <el-input v-model="phone" placeholder="输入phone" style="width:20%"></el-input>
      <el-input v-model="name" placeholder="输入name" style="width:20%"></el-input>
      <el-input v-model="cardNo" placeholder="输入cardNo" style="width:20%"></el-input>
      <el-button type="primary" plain @click="changeAuth()">确定</el-button>
      <div id="title">
        结果详情：
      </div>
      <div id="console"><label id="la">Console:</label>
        <pre>{{msg}}</pre>
      </div>
    </div>
  </div>
</template>
<script>
import ChooseFlow from './components/ChoosePageFlow'
import ChooseManual from './components/ChooseManualType'
export default {
  components: { ChooseFlow, ChooseManual },
  name: 'udong',
  data() {
    return {
      test: "udong",
      loanId: '',
      msg: '',
      phone: '086281471',
      name: 'Ngô Mai Thanh Trà',
      cardNo: '1',
      selectedOption: { 'key': '1', 'value': '通过' },
      // options:[
      //     {'key':'1','value':'通过'},
      //     {'key':'0','value':'拒绝'}
      //     ],

      selectedAbc: 'A',
      // optionsAbc:['A','B','C'],
      user_id: ''
    }
  },
  methods: {
    skipManual: function() {
      this.msg = '...'
      if (this.loanId == '') {
        alert('请输入loanId')
      } else {
        this.axios
          .post('mntncar/skip_manaul?loanId=' + this.loanId + '&status=' + this.selectedOption.key, {
            params: {}
          })
          .then(response => {
            console.log(response)
            this.msg = JSON.stringify(response.data, null, 4);
          })
          .catch(error => {
            alert(error)
          })
      }

    },
    closeUser: function() {
      this.msg = '...'
      if (confirm('确定删除？')) {
        if (this.mobile == '') {
          alert('请输入mobile')
        } else {
          this.axios
            .post('mntncar/close_user?mobile=' + this.phone, {
              params: {}
            })
            .then(response => {
              console.log(response)
              this.msg = JSON.stringify(response.data, null, 4);
            })
            .catch(error => {
              alert(error)
            })
        }
      } else {
        console.log('取消confirm')
      }


    },
    changeAuth: function() {
      this.msg = '...'
      if (this.phone == '') {
        alert('请输入mobile')
      } else {
        this.axios
          .post('mntncar/change_auth', {
            phone: this.phone,
            cardNo: this.cardNo,
            name: this.name
          })
          .then(response => {
            console.log(response)
            this.msg = JSON.stringify(response.data, null, 4);
          })
          .catch(error => {
            alert(error)
          })
      }

    },
    find_user_id: function() {
      this.msg = '...'
      if (this.phone == '') {
        alert('请输入mobile')
      } else {
        this.axios
          .post('mntncar/find_user_id?mobile=' + this.phone, {

          })
          .then(response => {
            console.log(response)
            this.msg = JSON.stringify(response.data, null, 4);
          })
          .catch(error => {
            alert(error)
          })
      }
    },
    find_order: function() {
      this.msg = '...'
      if (this.phone == '') {
        alert('请输入mobile')
      } else {
        this.axios
          .post('mntncar/find_order?mobile=' + this.phone, {

          })
          .then(response => {
            console.log(response)
            this.msg = JSON.stringify(response.data, null, 4);
          })
          .catch(error => {
            alert(error)
          })
      }
    },
    clearLoan: function() {
      this.msg = '...'
      if (this.phone == '') {
        alert('请输入phone')
      } else {
        this.axios
          .post('mntncar/clear_loan?mobile=' + this.phone, {

          })
          .then(response => {
            console.log(response)
            this.msg = JSON.stringify(response.data, null, 4);
          })
          .catch(error => {
            alert(error)
          })
      }
    },
    get_sms_code: function() {
      this.msg = '...'
      this.axios
        .get('mntncar/get_sms_code', {

        })
        .then(response => {
          console.log(response)
          this.msg = JSON.stringify(response.data, null, 4);
        })
        .catch(error => {
          alert(error)
        })
    },
    lend: function() {
      this.msg = '...'
      this.axios
        .post('mntncar/lend', {
          phone: this.phone
        })
        .then(response => {
          console.log(response)
          this.msg = JSON.stringify(response.data, null, 4);
        })
        .catch(error => {
          alert(error)
        })
    },
    register: function() {
      var url = 'mntncar/account/register'
      var json = {
        phone: this.phone
      }
      this.jsonPost(url, json)
    },
    pageflow_user: function() {
      var url = 'mntncar/account/pageflow/user?phone=' + this.phone
      this.get(url)
    },
    operator: function() {
      var url = 'mntncar/account/operator?phone=' + this.phone
      this.get(url)
    },
    enque_four: function() {
      var url = 'mntncar/sidkiq/enque_four'
      this.get(url)
    },
    auto_assign: function() {
      var url = 'mntncar/sidkiq/auto_assign'
      this.get(url)
    },


    overdue_loan: function() {
      var url = 'mntncar/test/overdue_loan'
      this.get(url)
    },

    change_pageflow: function() {
      var url = 'mntncar/db/change_pageflow'
      var json = {
        "phone": this.phone,
        "type": this.selectedAbc
      }
      this.jsonPost(url, json)
    },

    // 
    getAuditDetail: function() {
      var url = 'mntncar/user_details?loan_id=' + this.loanId
      this.get(url)
    },

    open: function() {
      var url = 'mntncar/account/open?phone=' + this.phone + '&loan_id=' + this.loanId
      this.get(url)
    },

    jsonPost: function(url, json) {
      this.msg = '...'
      this.axios
        .post(url, json)
        .then(response => {
          console.log(response)
          this.msg = JSON.stringify(response.data, null, 4);
        })
        .catch(error => {
          alert(error)
        })
    },
    get: function(url) {
      this.msg = '...'
      this.axios
        .get(url)
        .then(response => {
          console.log(response)
          this.msg = JSON.stringify(response.data, null, 4);
        })
        .catch(error => {
          alert(error)
        })
    }
  },
  mounted: function() {
    // this.cardNo ='0000' +  Math.floor(Math.random()*(9999-1000))+1000
    this.cardNo = '024744790'

  }
};

</script>
<style scoped>
.article-textarea {}

.udong {
  background: #f7f7f7;
}

.content {
  margin: 3%;
  padding-bottom: 10px;
}

.content label {
  font-size: 13px;
  width: 20%;
  padding-left: 7px;
}

.content input {
  width: 20%;
  height: 38px;
  font-size: 14px;
  padding: 0;
  padding-left: 5px;
  outline: none;
  border: 1px solid #999;
}

.content input:hover {
  box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
  transition: all 0.2s linear;

}



.content label {
  display: block
}

#la {
  display: inline;
  color: #999;
  line-height: 38px;
  font-size: 16px;
}

#la pre {
  color: #0B7500;
}

#console {
  border: 1px solid #427BB1;
  padding-left: 10px;
  border-radius: 0px 0px 5px 5px;
  min-height: 30px;
  padding: 10px;
  /*    word-break: break-all;
    white-space: normal;*/
}

#title {
  margin-top: 20px;
  background-color: #427BB1;
  padding-left: 10px;
  color: white;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
}

#select {
  height: 38px;

}

#select option {}

.bots {
  margin: 3%;
  padding-bottom: 10px;
}


/*.bots button{
    height:38px;
    background:#eee;
    color:#427BB1;
    outline:none;
    border:1px solid #999;
    font-size:15px;
    letter-spacing:0px;
    margin-top: 5px;
}*/
/*.bots button:hover{
    box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
    transition: all 0.2s linear;
}*/


#console pre {
  padding-left: 10px;
  color: #0B7500;
  overflow: hidden;

  /*word-break: break-all;*/
  /*white-space: normal;*/

}

.el-button+.el-button {
  margin-left: 0px;

}

</style>
