<template>
  <div class="trident">
       <div class="content">
        <label>调用决策流:</label>
        </br>
        </br>

        <el-input v-model="strategy_id" placeholder="输入决策流ID" style="width:30%"></el-input>
        <el-button type="primary" plain @click="decision()">确定</el-button>
        </br>
            <div id="c_box">
              <!--   <el-checkbox-group  v-model="checkedName">
                <el-checkbox-button v-for="tip in tips" :key="tip.id" :label="tip.name" :value="tip.id"></el-checkbox-button>
                </el-checkbox-group> -->

                <el-checkbox-group v-model="checkedName">
                  <el-checkbox-button v-for="tip in tips" :key="tip.id" :label="tip.url">
                    {{ tip.name }}
                  </el-checkbox-button>
                </el-checkbox-group>
            </div>
            
<!--  -->

        <div id="title">
            结果详情：
        </div>
        <div id="console"><label id="la">Console:</label><pre>{{msg}}</pre></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'test',
  data () {
    return {
        msg:"",
        url_decision:'mntncar/decision',
        strategy_id:'',
        tips:[
            {'id':1,'name':'java_dev','url':'http://loandev.yyxy.com/api/decision/async_execute'},
            {'id':2,'name':'java_test','url':'http://loantest.yyxy.com/api/decision/async_execute'},
            {'id':3,'name':'ruby','url':'http://139.196.172.58/api/decision/async_execute'}
        ],
        checkedName:[],
        json_msg:''
    }
  },
  methods:{
        decision:function(){
            this.msg='...'
            this.axios
            .post(this.url_decision,{
                urls:this.checkedName,
                strategy_id:this.strategy_id
            })
            .then(response => {
                console.log(response)
                // this.msg = response.data
                this.msg = JSON.stringify(response.data, null, 4);
            })
            .catch(error => {
                alert(error)
            })

        }
  },
};
</script>


<style scoped>
#c_box{
    margin-top: 10px;
}
.content{
    margin:3%;
    padding-bottom:10px;
}
/*.content label{
    font-size:13px;
    width:20%;
    padding-left:7px;
}*/

#console{
    border: 1px solid #427BB1;
    padding-left: 10px;
    border-radius: 0px 0px 5px 5px;
    min-height:30px;
    padding: 10px;
}

#console pre{
    padding-left: 10px;
    color:#0B7500;
}

#title{
    margin-top: 20px;
    background-color: #427BB1;
    padding-left: 10px;
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    border-radius:  5px 5px 0px 0px;
}
#la{
    display:inline;
    color:#999;
    line-height:38px;
    font-size: 16px;
}
.tips label{
    font-size: 18px;
}
.tips input{
    /*width: 20px;*/
    zoom:180%;
}

.tips input:hover{
    box-shadow: 0 0px 0px rgba(32, 33, 36, .28); 
}
</style>
