<template>
  <div style="display:inline-block;">
    <label class="radio-label">修改ABC流程: </label>
    <br/>
    <el-select v-model="bookType" style="width:120px;">
      <el-option
        v-for="item in options"
        :key="item"
        :label="item"
        :value="item"
      />
    </el-select>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: 'A'
    }
  },
  data() {
    return {
      options: ['A', 'B', 'C', 'D']
    }
  },
  computed: {
    bookType: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>
