<template>
  <div class="udong">
    <div class="bots">
      <br>
      <el-input v-model="a" placeholder="输入curCode开始1" style="width:20%" />
      <el-input v-model="b" placeholder="输入curCode开始2" style="width:20%" />
      <el-input v-model="pack_fir_num" placeholder="输入packLayer2个数" style="width:20%" />
      <el-input v-model="pack_sec_num" placeholder="输入packLayer1个数" style="width:20%" />
      <el-button type="primary" plain @click="regulatory()">生成疫苗疫苗监管码文件</el-button>
      <p></p>
      <el-input v-model="phone" type="textarea" :rows="30" />
    </div>
    <!--     <div class="content">
      <div id="title">
        示例文件内容：
      </div>
      <div id="console" v-loading="loading"><label id="la">Console:</label><pre>{{ msg }}</pre></div>
    </div> -->
  </div>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      url: '',
      a: '',
      b: '',
      pack_fir_num: '',
      pack_sec_num: '',
      loading: false,
      msg: '',
      phone: '<?xml version="1.0" encoding="utf-8"?>\n\n<Document xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="关联关系XML Schema-1.4.xsd" License="123456">  \n  <Events version="3.0"> \n    <Event name="RelationCreate"> \n      <Relation productCode="9111521" subTypeNo="9111521001" cascade="1:40:400" packageSpec="盒1瓶" comment=""> \n        <Batch batchNo="pc1125" madeDate="2016-05-12" validateDate="2021-11-11" workShop="分包装车间" lineName="**疫苗" lineManager="系统默认用户"> \n          <Code curCode="100" packLayer="2" parentCode="" flag="0"/>  \n          <Code curCode="200" packLayer="1" parentCode="100" flag="0"/>  \n          <Code curCode="201" packLayer="1" parentCode="100" flag="0"/>  \n          <Code curCode="202" packLayer="1" parentCode="100" flag="0"/>  \n          <Code curCode="203" packLayer="1" parentCode="100" flag="0"/>  \n          <Code curCode="204" packLayer="1" parentCode="100" flag="0"/>  \n          <Code curCode="205" packLayer="1" parentCode="100" flag="0"/>  \n          <Code curCode="206" packLayer="1" parentCode="100" flag="0"/>  \n          <Code curCode="207" packLayer="1" parentCode="100" flag="0"/>  \n          <Code curCode="208" packLayer="1" parentCode="100" flag="0"/>  \n          <Code curCode="209" packLayer="1" parentCode="100" flag="0"/>  \n          <Code curCode="101" packLayer="2" parentCode="" flag="0"/>  \n          <Code curCode="210" packLayer="1" parentCode="101" flag="0"/>  \n          <Code curCode="211" packLayer="1" parentCode="101" flag="0"/>  \n          <Code curCode="212" packLayer="1" parentCode="101" flag="0"/>  \n          <Code curCode="213" packLayer="1" parentCode="101" flag="0"/>  \n          <Code curCode="214" packLayer="1" parentCode="101" flag="0"/>  \n          <Code curCode="215" packLayer="1" parentCode="101" flag="0"/>  \n          <Code curCode="216" packLayer="1" parentCode="101" flag="0"/>  \n          <Code curCode="217" packLayer="1" parentCode="101" flag="0"/>  \n          <Code curCode="218" packLayer="1" parentCode="101" flag="0"/>  \n          <Code curCode="219" packLayer="1" parentCode="101" flag="0"/>  \n        </Batch> \n      </Relation> \n    </Event> \n  </Events> \n</Document>',
      cardNo: '1',
      selectedOption: { 'key': '1', 'value': '通过' },
      selectedAbc: 'A',
      user_id: '',
      user_name: '',
      product_channel_id: '',
      radio_type: '流水贷',
      data_types: { '流水贷': 1, '合同贷': 2, '云采贷': 3, '个人贷': 4 },
      radio: 'test',
      data: { 'test': {}, 'staging': {} }
    }
  },
  mounted: function() {
    this.cardNo = '024744790'
    // this.loading = true
  },
  methods: {
    // 查询用户信息
    // regulatory: function() {
    //   var url = '/mntncar/other/regulatory?a='+this.a+'&b='+this.b+'&pack_fir_num='+this.pack_fir_num+'&pack_sec_num='+this.pack_sec_num
    //   this.get(url)
    // },
    // 下载文件
    regulatory(params) {
      console.log(params)
      let self = this;
      // let execlName = params.cityName + '_' + params.performanceMonth + '.xml';
      // console.log(execlName);
      this.axios({
        url: '/mntncar/other/regulatory?a=' + this.a + '&b=' + this.b + '&pack_fir_num=' + this.pack_fir_num + '&pack_sec_num=' + this.pack_sec_num, // 接口名字
        method: 'get',
        responseType: "blob"
      }).then(function(response) {
        const blob = new Blob(
          [response.data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8' })
        const aEle = document.createElement('a'); // 创建a标签
        const href = window.URL.createObjectURL(blob); // 创建下载的链接
        aEle.href = href;
        aEle.download = 'a.xml'; // 下载后文件名
        document.body.appendChild(aEle);
        aEle.click(); // 点击下载
        document.body.removeChild(aEle); // 下载完成移除元素
        window.URL.revokeObjectURL(href) // 释放掉blob对象
      })
    },


    // 封装post
    jsonPost: function(url, json) {
      this.loading = true
      this.msg = '...'
      this.axios
        .post(url, json)
        .then(response => {
          console.log(response)
          this.msg = JSON.stringify(response.data, null, 4)
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          alert(error)
        })
    },
    // 封装post
    get: function(url) {
      this.loading = true
      this.msg = '...'
      this.axios
        .get(url)
        .then(response => {
          console.log(response)
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          alert(error)
        })
    }
  }
}

</script>
<style scoped>
.article-textarea {}

.udong {
  /*background:#f7f7f7;*/
}

.content {
  margin: 3%;
  padding-bottom: 10px;
}

.content label {
  font-size: 13px;
  width: 20%;
  padding-left: 7px;
}

.content input {
  width: 20%;
  height: 38px;
  font-size: 14px;
  padding: 0;
  padding-left: 5px;
  outline: none;
  border: 1px solid #999;
}

.content input:hover {
  box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
  transition: all 0.2s linear;

}

.content label {
  display: block
}

#la {
  display: inline;
  color: #999;
  line-height: 38px;
  font-size: 16px;
}

#la pre {
  color: #0B7500;
}

#console {
  border: 1px solid #427BB1;
  padding-left: 10px;
  border-radius: 0px 0px 5px 5px;
  min-height: 30px;
  padding: 10px;
  /*    word-break: break-all;
    white-space: normal;*/
}

#title {
  margin-top: 20px;
  background-color: #427BB1;
  padding-left: 10px;
  color: white;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
}

#select {
  height: 38px;

}

#select option {}

.bots {
  margin: 3%;
  padding-bottom: 10px;
}

/*.bots button{
    height:38px;
    background:#eee;
    color:#427BB1;
    outline:none;
    border:1px solid #999;
    font-size:15px;
    letter-spacing:0px;
    margin-top: 5px;
}*/
/*.bots button:hover{
    box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
    transition: all 0.2s linear;
}*/

#console pre {
  padding-left: 10px;
  color: #0B7500;
  overflow: hidden;

  /*word-break: break-all;*/
  /*white-space: normal;*/

}

.el-button+.el-button {
  margin-left: 0px;

}

</style>
