<template>
  <div style="display:inline-block;">
    <label class="radio-label">bigDataType: </label>
    <br/>
    <el-select v-model="bookType"  style="width:180px;">
      <el-option
        v-for="item in options"
        :key="item.id"
        :label="item.provider+':'+item.dataset"
        :value="item.provider+':'+item.dataset"
      />
    </el-select>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    }
  },
  data() {
    return {
      options: [
      {'id':'0','provider':'app','dataset':'userContact'},
      {'id':'1','provider':'app','dataset':'userSms'},
      {'id':'2','provider':'app','dataset':'callLog'},
      {'id':'3','provider':'app','dataset':'apps'},

      {'id':'4','provider':'yyxyvn','dataset':'carrier'},
      {'id':'5','provider':'yyxyvn','dataset':'lazada'},
      {'id':'6','provider':'yyxyvn','dataset':'zalo'},

      {'id':'7','provider':'moxie','dataset':'zalo'}
      ]
    }
  },
  computed: {
    bookType: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
};
</script>
<style scoped>
  .radio-label{
    color: #666;
    font-size: 14px;
    /*margin-bottom: 10px;*/
    line-height: 28px;
  }
</style>
