<template>
  <div style="display:inline-block;">
    <label class="radio-label">deviceUserInfo: </label>
    <br/>
    <el-select v-model="bookType" style="width:120px;">
      <el-option
        v-for="item in options"
        :key="item.id"
        :label="item.name"
        :value="item.id"
      />
    </el-select>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '通讯录'
    }
  },
  data() {
    return {
      options: [{'id':'0','name':'通讯录'},{'id':'1','name':'短信记录'},{'id':'2','name':'通话记录'}]
    }
  },
  computed: {
    bookType: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
};
</script>
<style scoped>
  .radio-label{
    color: #666;
    font-size: 14px;
    /*margin-bottom: 10px;*/
    line-height: 28px;
  }
</style>
