<template>
  <div style="display:inline-block;">
    <label class="radio-label">deviceInfo: </label>
    <br/>
    <el-select v-model="bookType" style="width:120px;">
      <el-option
        v-for="item in options"
        :key="item"
        :label="item"
        :value="item"
      />
    </el-select>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: 'device-base'
    }
  },
  data() {
    return {
      options: ['device-base', 'user-sms', 'call-log','apps','user-contact','devics_basics','sms','call_logs','contacts','screenshots']
    }
  },
  computed: {
    bookType: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
};
</script>
<style scoped>
  .radio-label{
    color: #666;
    font-size: 14px;
    /*margin-bottom: 10px;*/
    line-height: 28px;
  }
</style>
