<template>
  <div class="udong">
    <div class="content">
      <el-button type="primary" plain @click="curltojmx()">curl转jmx试用版本(curl命令)</el-button>
      <p />
      <!--       <el-radio-group v-model="radioenv" size="small">
        <el-radio-button v-for="(val,key) in dataenv" :label="key" />
      </el-radio-group> -->
      <!--       <p />

      <p />
      <el-radio-group v-model="radio_method" size="small">
        <el-radio-button v-for="(val, key) in data_method" :label="key" />
      </el-radio-group> -->
      <!-- <p /> -->
      <el-input v-model="phone" type="textarea" :rows="10" />
      <div id="title">
        结果详情：
      </div>
      <json-viewer v-loading="loading" copyable sort boxed :expand-depth="5" :value="msg" theme="jv-light" />
      <p style="color: gray;font-size: 8px"> 使用步骤： </p>
      <p style="color: gray;font-size: 8px">1.通过Charles抓取一个请求 </p>
      <p style="color: gray;font-size: 8px">2.鼠标右键 Copy cURL Request </p>
      <p style="color: gray;font-size: 8px">3.在下面输入框粘贴copy到的内容 </p>
      <p style="color: gray;font-size: 8px">4.点击按钮 “curl转jmx试用版本” 即可下载转换好的.jmx文件</p>
      <p style="color: gray;font-size: 8px">目前支持的请求组合： </p>
      <p style="color: gray;font-size: 8px">a. queries </p>
      <p style="color: gray;font-size: 8px">b. form </p>
      <p style="color: gray;font-size: 8px">c. json </p>
      <p style="color: gray;font-size: 8px">文件流暂不支持，其他的，待完善 </p>
      <p />
    </div>
  </div>
</template>
<script>
export default {
  name: 'Udong',
  components: {},
  filters: {
    objectToString(val) {
      return JSON.stringify(val, null, 4)
    }
  },
  data() {
    return {
      loading: false,
      radio: '流水贷',
      radioenv: 'test',
      loanId: '',
      msg: {},
      phone: 'curl https://www.baidu.com/',
      user_name: '',
      product_channel_id: '',
      dataenv: { 'test': {}, 'staging': {} },
      user_id: '',
      radio_method: '入驻',
      data_method: { '入驻': 1, '授权': 2, '升星': 3, '项目': 4, '星级': 5 }
    }
  },
  mounted: function() {},
  methods: {
    curltojmx: function() {
      const self = this
      this.loading = true
      var url = 'mntncar/tools/curltojmx'
      var json = {
        'curl_txt': this.phone
      }
      // this.jsonPost(url, json)
      this.axios({
        url: url, // 接口名字
        method: 'post',
        data: json,
        responseType: 'blob'
      }).then(function(response) {
        const blob = new Blob(
          [response.data], { type: 'application/octet-steam' })
        const aEle = document.createElement('a') // 创建a标签
        const href = window.URL.createObjectURL(blob) // 创建下载的链接
        aEle.href = href
        aEle.download = 'curltojmx.jmx' // 下载后文件名
        document.body.appendChild(aEle)
        aEle.click() // 点击下载
        document.body.removeChild(aEle) // 下载完成移除元素
        window.URL.revokeObjectURL(href) // 释放掉blob对象
        self.loading = false
      })
    },
    jsonPost: function(url, json) {
      this.loading = true
      this.msg = '...'
      this.axios
        .post(url, json)
        .then(response => {
          console.log(response)
          this.msg = response.data
          this.loading = false
        })
        .catch(error => {
          alert(error)
          this.loading = false
        })
    },
    get: function(url) {
      this.loading = true
      this.msg = '...'
      this.axios
        .get(url)
        .then(response => {
          console.log(response)
          this.msg = response.data
          this.loading = false
        })
        .catch(error => {
          alert(error)
          this.loading = false
        })
    }
  }
}

</script>
<style scoped>
.content {
  margin: 3%;
  padding-bottom: 10px;
}

#la {
  display: inline;
  color: #999;
  line-height: 38px;
  font-size: 16px;
}

#la pre {
  color: #0B7500;
}

#console {
  border: 1px solid #427BB1;
  padding-left: 10px;
  border-radius: 0px 0px 5px 5px;
  min-height: 30px;
  padding: 10px;
  /*    word-break: break-all;
    white-space: normal;*/
}

#title {
  margin-top: 20px;
  background-color: #427BB1;
  padding-left: 10px;
  color: white;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
}

#select {
  height: 38px;

}

#select option {}

.bots {
  margin: 3%;
  padding-bottom: 10px;
}

.el-textarea__inner {
  color: #0B7500;
}

#console pre {
  padding-left: 10px;
  color: #0B7500;
  overflow: hidden;

  /*word-break: break-all;*/
  /*white-space: normal;*/

}

.el-button+.el-button {
  margin-left: 0px;

}

.content label {
  /*display:block;*/
  color: #666;
  font-size: 14px;
  line-height: 28px;
}

</style>
