<template>
  <div class="udong">
    <div class="content">

        <BigDataType v-model="selected"/>

        <el-input v-model="phone" placeholder="输入手机号" style="width:20%"></el-input>
        <el-button type="primary" plain @click="query_data()">确定</el-button>
         <div id="title">
            结果详情：
        </div>
        <div id="console"><label id="la">Console:</label><pre>{{msg}}</pre></div>
    </div>

  </div>
</template>

<script>
import BigDataType from './components/BigDataType'
export default {
    components: { BigDataType },
  name: 'udong',
  data () {
    return {
        test:"udong",
        loanId:'',
        msg:'',
        phone:'086281471',
        selected: 'app:userContact',
        // provider: this.selected.split(':')[0],
        // dataset: this.selected.split(':')[0]
    }
  },
  methods:{
        query_data:function(){


            var url = '/mntncar/query_data'

            var json = {
            'phone' : this.phone,
            'provider': this.selected.split(':')[0],
            'dataset': this.selected.split(':')[1]
            }
            this.jsonPost(url,json)
        },

        jsonPost:function(url,json){
            this.msg='...'
            this.axios
            .post(url,json)
            .then(response => {
                console.log(response)
                this.msg = JSON.stringify(response.data, null, 4);
            })
            .catch(error => {
                alert(error)
            })
        },
        get:function(url){
            this.msg='...'
            this.axios
            .get(url)
            .then(response => {
                console.log(response)
                this.msg = JSON.stringify(response.data, null, 4);
            })
            .catch(error => {
                alert(error)
            })
        }
  },
  mounted:function(){
    // this.cardNo ='0000' +  Math.floor(Math.random()*(9999-1000))+1000
    this.cardNo = '024744790'

  }
};
</script>

<style scoped>

.content{
    margin:3%;
    padding-bottom:0px;
}




.content label{
    display:block;
    color: #666;
    font-size: 14px;
    line-height: 28px;
}

#la{
    display:inline;
    color:#999;
    line-height:38px;
    font-size: 16px;
}

#la pre{
    color: #0B7500;
}

#console{
    border: 1px solid #427BB1;
    padding-left: 10px;
    border-radius: 0px 0px 5px 5px;
    min-height:30px;
    padding: 10px;
/*    word-break: break-all;
    white-space: normal;*/
}

#title{
    margin-top: 20px;
    background-color: #427BB1;
    padding-left: 10px;
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    border-radius:  5px 5px 0px 0px;
}
#select{
    height: 38px;

}
#select option{
}
.bots{
    margin:3%;
    padding-bottom:10px;
}


/*.bots button{
    height:38px;
    background:#eee;
    color:#427BB1;
    outline:none;
    border:1px solid #999;
    font-size:15px;
    letter-spacing:0px;
    margin-top: 5px;
}*/
/*.bots button:hover{
    box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
    transition: all 0.2s linear;
}*/


#console pre{
    padding-left: 10px;
    color:#0B7500;
    overflow:hidden;

    /*word-break: break-all;*/
    /*white-space: normal;*/

}

.el-button+.el-button{
    margin-left: 0px;

}

</style>
