<template>
  <div class="udong">
    <div class="content">
        <DataType v-model="sekectedType"/>
        <el-input v-model="phone" placeholder="输入手机号" style="width:20%"></el-input>
        <el-button type="primary" plain @click="device_user_info()">确定</el-button>
    </div>
    <div class="content">
        <EventType v-model="selectedEventType"/>
        <el-input v-model="phone" placeholder="输入手机号" style="width:20%"></el-input>
        <el-button type="primary" plain @click="device_phone()">确定</el-button>
        
    </div>
    <div class="content">
        <label>信审/催收 用户信息</label>
        <el-input v-model="loanId" placeholder="输入订单id" style="width:20%"></el-input>
        <el-button type="primary" plain @click="audit_user()">确定</el-button>
         <div id="title">
            结果详情：
        </div>
        <div id="console"><label id="la">Console:</label><pre>{{msg}}</pre></div>
    </div>

  </div>
</template>

<script>
import EventType from './components/EventType'
import DataType from './components/DataType'
export default {
    components: { EventType ,DataType },
  name: 'udong',
  data () {
    return {
        test:"udong",
        loanId:'',
        msg:'',
        phone:'086281471',
        name:'Ngô Mai Thanh Trà',
        cardNo:'1',
        // selectedOption:{'key':'1','value':'通过'},
        selectedEventType:'device-base',
        sekectedType:'0',
        user_id:''
    }
  },
  methods:{
        device_phone:function(){
            var url = '/mntncar/device/device_phone'
            var json = {
            "phone": this.phone,
            "event_type": this.selectedEventType
            }
            this.jsonPost(url,json)
        },
        
        device_user_info:function(){
            var url = '/mntncar/device/device_user_info'
            var json = {
            "phone": this.phone,
            "type": this.sekectedType
            }
            this.jsonPost(url,json)
        },

        audit_user:function(){
            var url = '/mntncar/audit_user'
            var json = {
            "loan_id": this.loanId,
            }
            this.jsonPost(url,json)
        },

        jsonPost:function(url,json){
            this.msg='...'
            this.axios
            .post(url,json)
            .then(response => {
                console.log(response)
                this.msg = JSON.stringify(response.data, null, 4);
            })
            .catch(error => {
                alert(error)
            })
        },
        get:function(url){
            this.msg='...'
            this.axios
            .get(url)
            .then(response => {
                console.log(response)
                this.msg = JSON.stringify(response.data, null, 4);
            })
            .catch(error => {
                alert(error)
            })
        }
  },
  mounted:function(){
    // this.cardNo ='0000' +  Math.floor(Math.random()*(9999-1000))+1000
    this.cardNo = '024744790'

  }
};
</script>

<style scoped>

.content{
    margin:3%;
    padding-bottom:0px;
}




.content label{
    display:block;
    color: #666;
    font-size: 14px;
    line-height: 28px;
}

#la{
    display:inline;
    color:#999;
    line-height:38px;
    font-size: 16px;
}

#la pre{
    color: #0B7500;
}

#console{
    border: 1px solid #427BB1;
    padding-left: 10px;
    border-radius: 0px 0px 5px 5px;
    min-height:30px;
    padding: 10px;
/*    word-break: break-all;
    white-space: normal;*/
}

#title{
    margin-top: 20px;
    background-color: #427BB1;
    padding-left: 10px;
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    border-radius:  5px 5px 0px 0px;
}
#select{
    height: 38px;

}
#select option{
}
.bots{
    margin:3%;
    padding-bottom:10px;
}


/*.bots button{
    height:38px;
    background:#eee;
    color:#427BB1;
    outline:none;
    border:1px solid #999;
    font-size:15px;
    letter-spacing:0px;
    margin-top: 5px;
}*/
/*.bots button:hover{
    box-shadow: 0 1px 4px rgba(32, 33, 36, .28);
    transition: all 0.2s linear;
}*/


#console pre{
    padding-left: 10px;
    color:#0B7500;
    overflow:hidden;

    /*word-break: break-all;*/
    /*white-space: normal;*/

}

.el-button+.el-button{
    margin-left: 0px;

}

</style>
