<template>
  <div class="udong">
    <div class="content">
        <label>手机号:</label>
        <el-input v-model="phone" placeholder="输入手机号" style="width:20%"></el-input>
        <el-button type="primary" plain @click="upload()">upload</el-button>
        <el-button type="primary" plain @click="operate()">operate</el-button>
        


        <div  style="margin-top: 20px">
            <el-radio-group v-model="radio" size="small">
<!--               <el-radio-button label="data_contect"></el-radio-button>
              <el-radio-button label="data_apps"></el-radio-button>
              <el-radio-button label="device-base"></el-radio-button> -->
              <el-radio-button v-for="(val,key) in data" :label="key"></el-radio-button>
            </el-radio-group>
          </div>
        <!-- <label>{{radio}}:</label> -->
        <p></p>
        <el-input v-model="JSON.stringify(data[radio], null, 4)" type="textarea" :rows="15"></el-input>
        <!-- data[radio] -->
        <!-- <p>{{data_apps | objectToString()}}</p> -->
            <div id="title">
                结果详情：
            </div>
            <div id="console"><label id="la">Console:</label><pre>{{msg}}</pre></div>
        </div>
    </div>

</template>

<script>
export default {
    components: {  },
    name: 'udong',
    data () {
    return {
        radio: 'data_contect',
        test:"udong",
        loanId:'',
        msg:'',
        phone:'0862814715',
        data:{"data_contect":{
    "app": "vietnam_loan",
    "eventType": "user-contact",
    "eventData": [{
        "type": "phone",
        "phone": "00 00000003",
        "name": "00 00000003"
    }, {
        "type": "phone",
        "phone": "0000000001",
        "name": "Cuộc gọi quấy rối"
    }, {
        "type": "phone",
        "phone": "06666661123",
        "name": "dema"
    }, {
        "type": "phone",
        "phone": "84666666888",
        "name": "特殊号码"
    }, {
        "type": "phone",
        "phone": "135 2222 2222",
        "name": "阿龙"
    }, {
        "type": "phone",
        "phone": "158 6666 6666",
        "name": "数据流二"
    }, {
        "type": "phone",
        "phone": "4008308300",
        "name": "华为客服"
    }],
            "commonData": {
            "app": "vietnam_loan",
            "timestamp": 1567415653,
            "userId": 101000000011,
            "deviceId": "869621046953959",
            "phone": "0862814801",
            "os": "android",
            "osVersion": "HONOR",
            "env": "app",
            "devicePhone": '+84862814175',
            "deviceMasterPhone": '+84862814175',
            "deviceSlavePhone": "",
            "deviceProduct": "TNY-AL00",
            "location": "30.247808255629273,120.21650513878186",
            "page": "OrderConfirm",
            "versionCode": 64,
            "wifiMac": "34:29:12:7D:30:5E",
            "imsi": 'imsi',
            "ipv6": "::1/128&fe80::2c37:1cff:fe49:173e/64&fe80::3629:12ff:fe7d:305e/64&",
            "guid": "b775018f-87e0-2b7c-5cf4-b3669931c71a",
            "af_uid": "1567391266961-6431162272195322092"
        }
},"data_apps":{
    "app": "vietnam_loan",
    "eventType": "apps",
    "eventData": [{
        "installLocation": "-1",
        "lastUpdateTime": "2018-12-26 17:39:43",
        "firstInstallTime": "1970-01-02 17:21:15",
        "version": "19",
        "versionName": "1.3.5",
        "packageName": "com.miui.screenrecorder",
        "appName": "屏幕录制",
        "flag": "other"
    }, {
        "installLocation": "-1",
        "lastUpdateTime": "2008-12-31 23:00:00",
        "firstInstallTime": "2008-12-31 23:00:00",
        "version": "27",
        "versionName": "8.1.0",
        "packageName": "com.android.captiveportallogin",
        "appName": "CaptivePortalLogin",
        "flag": "system"
    }, {
        "installLocation": "0",
        "lastUpdateTime": "2019-05-02 09:46:47",
        "firstInstallTime": "1970-01-02 17:21:20",
        "version": "490",
        "versionName": "11.6.1",
        "packageName": "cn.wps.moffice_eng",
        "appName": "WPS Office",
        "flag": "other"
    }, {
        "installLocation": "-1",
        "lastUpdateTime": "2008-12-31 23:00:00",
        "firstInstallTime": "2008-12-31 23:00:00",
        "version": "1130099",
        "versionName": "1.13.0.0",
        "packageName": "com.miui.core",
        "appName": "MIUI SDK",
        "flag": "system"
    }, {
        "installLocation": "-1",
        "lastUpdateTime": "2019-03-01 13:34:01",
        "firstInstallTime": "2008-12-31 23:00:00",
        "version": "4053012",
        "versionName": "4.5.3.12",
        "packageName": "com.miui.home",
        "appName": "系统桌面",
        "flag": "system"
    }, {
        "installLocation": "1",
        "lastUpdateTime": "2019-04-29 21:35:37",
        "firstInstallTime": "1970-01-02 17:21:11",
        "version": "3062",
        "versionName": "6.42.7",
        "packageName": "com.achievo.vipshop",
        "appName": "唯品会",
        "flag": "other"
    }, {
        "installLocation": "0",
        "lastUpdateTime": "2008-12-31 23:00:00",
        "firstInstallTime": "2008-12-31 23:00:00",
        "version": "10400",
        "versionName": "1.4",
        "packageName": "com.miui.audioeffect",
        "appName": "AudioEffect",
        "flag": "system"
    }],
    "commonData": {
        "app": "vietnam_loan",
        "timestamp": 1568877101,
        "userId": 101000000883,
        "deviceId": "862400041983437",
        "phone": "0862814715",
        "os": "android",
        "osVersion": "Xiaomi",
        "env": "app",
        "devicePhone": "087877668495",
        "deviceMasterPhone": "087877668495",
        "deviceSlavePhone": "",
        "deviceProduct": "MI 8",
        "location": "null,null",
        "page": "OrderConfirm",
        "versionCode": 75,
        "wifiMac": "A4:50:46:F0:00:45",
        "imsi": "510113529907638",
        "ipv6": "::1/128&fe80::5891:90ff:fe43:7994/64&fe80::d316:4481:3bee:b7e7/64&fe80::d001:c480:c92b:6772/64&",
        "guid": "89ff2d11-c1bb-89f0-d050-cc35991f05d9",
        "af_uid": "1568875143356-1396187530463121543",
        "abTest": "A"
    }
},"device-base":{
        "app": "vietnam_loan",
        "eventType": "device-base",
        "eventData": {
            "imsi": 'imsi',
            "providerName": "",
            "ip": "192.168.0.83",
            "wifiMac": "34:29:12:7D:30:5E"
        },
        "commonData": {
            "app": "vietnam_loan",
            "timestamp": 1567415653,
            "userId": 101000000011,
            "deviceId": "869621046953959",
            "phone": "0862814801",
            "os": "android",
            "osVersion": "HONOR",
            "env": "app",
            "devicePhone": '+84862814175',
            "deviceMasterPhone": '+84862814175',
            "deviceSlavePhone": "",
            "deviceProduct": "TNY-AL00",
            "location": "30.247808255629273,120.21650513878186",
            "page": "OrderConfirm",
            "versionCode": 64,
            "wifiMac": "34:29:12:7D:30:5E",
            "imsi": 'imsi',
            "ipv6": "::1/128&fe80::2c37:1cff:fe49:173e/64&fe80::3629:12ff:fe7d:305e/64&",
            "guid": "b775018f-87e0-2b7c-5cf4-b3669931c71a",
            "af_uid": "1567391266961-6431162272195322092"
        }
    },"operate":{
            "app": "vietnam_loan",
            "timestamp": 1567414033,
            "userId": 101000000740,
            "deviceId": "869621046953959",
            "phone": "0862814801",
            "os": "android",
            "osVersion": "HONOR",
            "env": "app",
            "devicePhone": '0127',
            "deviceMasterPhone": '012777777',
            "deviceSlavePhone": "",
            "deviceProduct": "TNY-AL00",
            "location": "30.247808255629273,120.21650513878186",
            "page": "OrderConfirm",
            "versionCode": 64,
            "wifiMac": "34:29:12:7D:30:5E",
            "imsi": 'null',
            "ipv6": "::1/128&fe80::2c37:1cff:fe49:173e/64&fe80::3629:12ff:fe7d:305e/64&",
            "guid": "b775018f-87e0-2b7c-5cf4-b3669931c71a",
            "af_uid": "1567391266961-6431162272195322092"
        }},
        user_id:''
    }
  },
  filters:{
    objectToString(val){
        return JSON.stringify(val, null, 4)
    },
  },
  methods:{
        upload:function(){
            var url = '/mntncar/account/upload'
            var json = {
            "phone": this.phone,
            "data":this.data[this.radio]
            }
            this.jsonPost(url,json)
        },
        operate:function(){
            var url = '/mntncar/account/operate'
            var json = {
            "phone": this.phone,
            "data":this.data[this.radio]
            }
            this.jsonPost(url,json)
        },
        

        jsonPost:function(url,json){
            this.msg='...'
            this.axios
            .post(url,json)
            .then(response => {
                console.log(response)
                this.msg = JSON.stringify(response.data, null, 4);
            })
            .catch(error => {
                alert(error)
            })
        },
        get:function(url){
            this.msg='...'
            this.axios
            .get(url)
            .then(response => {
                console.log(response)
                this.msg = JSON.stringify(response.data, null, 4);
            })
            .catch(error => {
                alert(error)
            })
        }
  },
  mounted:function(){
  }
};
</script>

<style scoped>
.content{
    margin:3%;
    padding-bottom:10px;
}

#la{
    display:inline;
    color:#999;
    line-height:38px;
    font-size: 16px;
}

#la pre{
    color: #0B7500;
}

#console{
    border: 1px solid #427BB1;
    padding-left: 10px;
    border-radius: 0px 0px 5px 5px;
    min-height:30px;
    padding: 10px;
/*    word-break: break-all;
    white-space: normal;*/
}

#title{
    margin-top: 20px;
    background-color: #427BB1;
    padding-left: 10px;
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    border-radius:  5px 5px 0px 0px;
}
#select{
    height: 38px;

}
#select option{
}
.bots{
    margin:3%;
    padding-bottom:10px;
}

.el-textarea__inner{
    color: #0B7500;
}


#console pre{
    padding-left: 10px;
    color:#0B7500;
    overflow:hidden;

    /*word-break: break-all;*/
    /*white-space: normal;*/

}

.el-button+.el-button{
    margin-left: 0px;

}
.content label{
    /*display:block;*/
    color: #666;
    font-size: 14px;
    line-height: 28px;
}

</style>
